.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f3e9c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#highscoreform>* {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1%;
}
#highscorebackground {
  background-color: rgb(12, 16, 15);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px
}

#valhalla {
  color: #2cfe67;
  animation: 7s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background-color: #808080;
}

#gameArena {
  background: rgb(45, 195, 34);
  background: linear-gradient(0deg, rgba(45, 195, 34, 1) 0%, rgba(45, 189, 253, 1) 33%);
  border: 10px outset burlywood;
  position: relative;
  top: 10px;
  left: 150px;
}