.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f3e9c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#highscoreform>* {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1%;
}

#highscorebackground {
  background-color: rgb(12, 16, 15);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px
}

#valhalla {
  color: #2cfe67;
  animation: 7s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background-color: #b7eeff;
}

#gameArena {
  background: rgb(45, 195, 34);
  background: -webkit-linear-gradient(top, #accce5 13%, #accce5 13%, #207cca 87%, #38a832 89%, #38a832 89%, #1ea01e 100%);
  border: 10px outset burlywood;
  position: relative;
  top: 10px;
  left: 150px;
}

#scoreboard {
  width: 50%;
  padding: 20px;
  background-color: rgb(131, 60, 185);
  margin: auto;
  font-size: 2em;
}

td {
  background-color: #2cfe67;
  padding-bottom: 1em;
  width: 5em;
}

/* main menu styling */
#gametitle {
  font-family: OCR A Std, monospace;
  font-size: 10em;
  color: rgb(69, 229, 69);
  margin-bottom: -0.1em;
  -webkit-text-stroke: 5px;
  -webkit-text-stroke-color: rgb(255, 61, 61);
}

.hidden {
  display: none;

}

li {
  font-family: 'Arial';
  font-size: xx-large;
  font-weight: bold;
}

/* if player hasn't been able to collect the first cube, a hint will appear */
#notmoving {
  animation: 12s fadeIn;
}
/* css styling from stackoverflow using monospace font and special background to better indicate how many characters can be input */
#playerNameInput {
  display: inline-block;
  margin: 1.2rem auto;
  border: none;
  padding: 0;
  width: 7.5ch;
  background: repeating-linear-gradient(90deg, rgb(0, 0, 0) 0, rgb(0, 0, 0) 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
  font: 2rem 'Ubuntu Mono', monospace;
  letter-spacing: 0.5ch;
}
#playerNameInput:focus {
  outline: none;
  color: rgb(113, 30, 255);
}